body {
    font-family: sans-serif;
    text-align: center;
    /* background-color: #f39191; */
}
img {
    width: 300px;
    border-radius: 15px;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  color: white;
  text-align: center;
  margin-top: 40vh;
}
